################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Release/netcoreapp3.1/git_vs_testproject_core_api.assets.cache
